* {
	font-family: 'Courgette', Helvetica, sans-serif;
}

body {
	background: #333;
	text-align: center;
	color: #fff;
	margin: 0;
}

header {
	color: #fff;
	background: #ed2939;
	padding: 15px;
	font-size: 20px;
	margin-bottom: 20px;
}

footer {
	margin-top: 50px;
}

a, a:hover {
	color: #fff;
	text-decoration: underline;
}

h1 {
	margin: 0;
}

h1 a {
	cursor: pointer;
}

h1 a, h1 a:hover {
	text-decoration: none;
}

[v-cloak] {
  display: none;
}

.login-card__label {
	font-size: 30px;
}

.login-card__input {
	border: 2px solid #444;
	font-size: 30px;
	padding: 10px 0;
	text-align: center;
	border-radius: 4px;
	background: #222;
	max-width: 300px;
	color: #eee;
	margin: 20px 0;
}

.login-card__button {
	width: 200px;
	font-size: 40px;
	line-height: 1.8;
	border-radius: 6px;
	border: 0;
	background: #1e90ff;
	color: #fff;
}

.awaiting-opponent-card {
	font-size: 30px;
	padding: 40px 0;
}

.game-card__turn {
	color: #f6b680;
}

.scoreboard {
	margin-left: 50px;
	margin-right: 50px;
}

.player__marker {
	font-size: 20px;
	color: #ed2939;
	font-weight: bold;
}

.board__cell {
	display: inline-block;
	border: 0;
	margin-bottom: 4px;
	background: #222;
	color: #fff;
	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	width: 90px;
	height: 90px;
	font-weight: bold;
	font-family: arial;
}

.toast {
   	position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background: #F1C40F;
    padding: 8px;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
}

.alert {
   	position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background: #F1C40F;
    padding: 8px;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
}

.alert__button {
	font-size: 20px;
	padding: 10px 20px;
	border-radius: 6px;
	background-color: #c0c0c0;
	border: 0;
	box-shadow: 2px 2px #6c6c6c;
	-webkit-box-shadow: 2px 2px #6c6c6c;
	-moz-box-shadow: 2px 2px #6c6c6c;
}
