* {
	font-family: 'Courgette', Helvetica, sans-serif;
}

body {
	background: #333;
	text-align: center;
	color: #fff;
	margin: 0;
}

header {
	color: #fff;
	background: #ed2939;
	padding: 15px;
	font-size: 20px;
	margin-bottom: 20px;
}

footer {
	margin-top: 50px;
}

a {
	color: #fff;
	text-decoration: underline;
}

h1 {
	margin: 0;
}

[v-cloak] {
  display: none;
}

.join-card__label {
	font-size: 30px;
}

.join-card__input {
	border: 2px solid #444;
	font-size: 30px;
	padding: 10px 0;
	text-align: center;
	border-radius: 4px;
	background: #222;
	max-width: 300px;
	color: #eee;
	margin: 20px 0;
}

.join-card__button {
	width: 200px;
	font-size: 40px;
	line-height: 1.8;
	border-radius: 6px;
	border: 0;
	background: #1e90ff;
	color: #fff;
}

.awaiting-opponent-card {
	font-size: 30px;
	padding: 40px 0;
}

.game-card__board__cell {
	display: inline-block;
	border: 0;
	margin-bottom: 4px;
	background: #222;
	color: #fff;
	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
	width: 90px;
	height: 90px;
	font-weight: bold;
}

.game-card__turn {
	color: #f6b680;
}

.game-card__scoreboard__player--x {
	float: left;
}

.game-card__scoreboard__player--o {
	float: right;
}

.game-card__scoreboard__player {
	margin-right: 50px;
}

.game-card__scoreboard__marker {
	font-size: 20px;
	color: #ed2939;
	font-weight: bold;
}

.toast {
   	position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    background: #F1C40F;
    padding: 8px;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
}
